h1{color: brown;
text-align: center;
}
.go{
    color: rgb(12, 14, 1);
    text-align: center;
    font-size: larger;
}
#hi{
    color: blue;}
span{
    color: brown;
display: block;}
#rt{
    color: aqua;
    display: inline;
}
